@page "/contact-us"

<style>
	.branding-link {
		display: flex;
		align-items: center;
		text-decoration: none;
	}

	.college-logo {
		width: 60px;
		height: 60px;
		margin-left: -22px;
	}

	.college-name {
		font-size: 24px;
		font-weight: 900;
		color: white;
		-webkit-text-stroke: 0.8px black;
		text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
		white-space: nowrap;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
</style>

	<!--<section class="contact-hero">
		<div class="container">
			<div class="hero-content">
				<div class="hero-caption">
					<h2>Get in Touch with Army War College</h2>
					<p>
						The Army War College, Mhow is a premier institution of the Indian Army located in Madhya Pradesh. <br>
						It specializes in training, research, military doctrine, logistics, and strategic studies.
					</p>
				</div>
			</div>
		</div>
	</section>-->


	<section class="contact-form">
		<div class="container">
			<div class="section-content clearfix">
				<h3>Send us a Message</h3>
				<form>
					<div class="row">
						<div class="form-group col-sm-6">
							<label>Full Name</label>
							<input type="text" class="form-control" placeholder="">
						</div>
						<div class="form-group col-sm-6">
							<label>Email</label>
							<input type="email" class="form-control" placeholder="">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-sm-6">
							<label>Phone Number</label>
							<input type="text" class="form-control" placeholder="">
						</div>
						<div class="form-group col-sm-6">
							<label>Company Name</label>
							<input type="email" class="form-control" placeholder="">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-sm-12">
							<label>Message</label>
							<textarea></textarea>
						</div>
					</div>
					<input class="hvr-push" type="submit" value="Send">
				</form>
			</div>
		</div>
	</section>

	<section class="contact-information">
		<div class="container">
			<div class="section-content">
				<h3>Army War College Contact Information</h3>
				<ul>
					<li>
						<i class="fa fa-map-marker" aria-hidden="true"></i>
						95B, AWC, Dr. Ambedkar Nagar, Mhow, Madhya Pradesh 453441
					</li>
					<li>
						<i class="fa fa-calendar" aria-hidden="true"></i>
						Founded: 1 April 1971
					</li>
					<li>
						<i class="fa fa-user" aria-hidden="true"></i>
						Commandant: Lt Gen Harjeet Singh Sahi, UYSM, AVSM, YSM, SM
					</li>
					<li>
						<i class="fa fa-university" aria-hidden="true"></i>
						Campus Area: 533.5 acres (2.159 km²)
					</li>
					<li>
						<i class="fa fa-building-o" aria-hidden="true"></i>
						School Type: Training & Research Institute of Indian Army
					</li>
					<li>
						<i class="fa fa-info-circle" aria-hidden="true"></i>
						The Army War College, Mhow, is a premier training institution of the Indian Army. It specializes in strategy, logistics, military studies, and doctrinal development.
					</li>
				</ul>
			</div>
		</div>
	</section>

