@page "/galleries"

@inject IJSRuntime JS


<style>
	.gallery-year-divider {
		margin: 60px 0 30px;
		padding-bottom: 10px;
		border-bottom: 2px solid #ccc;
		font-size: 24px;
		color: #123456;
		font-weight: 600;
	}

</style>
<section class="gallery-hero">
	<div class="container">
		<div class="hero-content text-center">
			<div class="hero-caption">
				<h2>Gallery Army War College, MHOW</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,<br>sed diam nonummy nibh euismod</p>
			</div>
		</div>
	</div>
</section>

<section class="gallery-list">
	<div class="container">

		<!-- Year 2024–2025 -->
		<div class="gallery-year-divider">Gallery 2024–2025</div>
		<div class="row">
			<div class="col-sm-4">
				<a href="#" data-featherlight="#content-1">
					<img src="assets/images/awcimages/images14.jpg" alt="image" class="img-fluid">
				</a>
				<div id="content-1" class="gallery-lightbox">
					<img src="assets/images/awcimages/images14.jpg" alt="image">
					<div class="gallery-lightbox-content">
						<p>Description for image 1</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<a href="#" data-featherlight="#content-2">
					<img src="assets/images/awcimages/images12.jpg" alt="image" class="img-fluid">
				</a>
				<div id="content-2" class="gallery-lightbox">
					<img src="assets/images/awcimages/images12.jpg" alt="image">
					<div class="gallery-lightbox-content">
						<p>Description for image 2</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<a href="#" data-featherlight="#content-3">
					<img src="assets/images/awcimages/images13.jpg" alt="image" class="img-fluid">
				</a>
				<div id="content-3" class="gallery-lightbox">
					<img src="assets/images/awcimages/images13.jpg" alt="image">
					<div class="gallery-lightbox-content">
						<p>Description for image 3</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Year 2022–2023 -->
		<div class="gallery-year-divider">Gallery 2022–2023</div>
		<div class="row">
			<div class="col-sm-4">
				<a href="#" data-featherlight="#content-4">
					<img src="assets/images/awcimages/images11.jpg" alt="image" class="img-fluid">
				</a>
				<div id="content-4" class="gallery-lightbox">
					<img src="assets/images/awcimages/images11.jpg" alt="image">
					<div class="gallery-lightbox-content">
						<p>Description for image 4</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<a href="#" data-featherlight="#content-5">
					<img src="assets/images/awcimages/awcimg.jpeg" alt="image" class="img-fluid">
				</a>
				<div id="content-5" class="gallery-lightbox">
					<img src="assets/images/awcimages/awcimg.jpeg" alt="image">
					<div class="gallery-lightbox-content">
						<p>Description for image 5</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<a href="#" data-featherlight="#content-6">
					<img src="assets/images/awcimages/images3.jpg" alt="image" class="img-fluid">
				</a>
				<div id="content-6" class="gallery-lightbox">
					<img src="assets/images/awcimages/images3.jpg" alt="image">
					<div class="gallery-lightbox-content">
						<p>Description for image 6</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Year 2021–2022 -->
		<div class="gallery-year-divider">Gallery 2021–2022</div>
		<div class="row">
			<div class="col-sm-4">
				<a href="#" data-featherlight="#content-7">
					<img src="assets/images/awcimages/cmdt.jpeg" alt="image" class="img-fluid">
				</a>
				<div id="content-7" class="gallery-lightbox">
					<img src="assets/images/awcimages/cmdt.jpeg" alt="image">
					<div class="gallery-lightbox-content">
						<p>Description for image 7</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<a href="#" data-featherlight="#content-8">
					<img src="assets/images/awcimages/images7.jpg" alt="image" class="img-fluid">
				</a>
				<div id="content-8" class="gallery-lightbox">
					<img src="assets/images/awcimages/images7.jpg" alt="image">
					<div class="gallery-lightbox-content">
						<p>Description for image 8</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<a href="#" data-featherlight="#content-9">
					<img src="assets/images/awcimages/images1.jpg" alt="image" class="img-fluid">
				</a>
				<div id="content-9" class="gallery-lightbox">
					<img src="assets/images/awcimages/images1.jpg" alt="image">
					<div class="gallery-lightbox-content">
						<p>Description for image 9</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>


@code {
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await JS.InvokeVoidAsync("initializeFeatherlight");
		}
	}
}