@page "/news"



	<!--<section class="news-hero">
		<div class="container">
			<div class="hero-content">
				<div class="hero-caption">
					<h2>Army War College, MHOW Latest News</h2>
				</div>
			</div>
		</div>
	</section>-->

<style>
	.branding-link {
		display: flex;
		align-items: center;
		text-decoration: none;
	}

	.college-logo {
		width: 60px;
		height: 60px;
		margin-left: -22px;
	}

	.college-name {
		font-size: 24px;
		font-weight: 900;
		color: white;
		-webkit-text-stroke: 0.8px black;
		text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
		white-space: nowrap;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
</style>


	<section class="search-bar">
		<div class="container">
			<div class="row">
				<input type="text" placeholder="Type any keyword and enter to search">
			</div>
		</div>
	</section>

	<section class="latest-news">
		<div class="container">
			<div class="row">
				<div class="section-content">
					<div class="col-md-6">
						<div class="news-item">
							<div class="item-meta-data">
								<div class="col-md-8">
									<a href="#"><img src="assets/images/favicon.ico" class="college-logo" alt="image"></a>
									<a href="#"><span> Army War College</span></a>
								</div>
								<div class="col-md-4">
									<span>Aug 15</span>
								</div>
							</div>
							<div class="item-image">
								<a href="/newsdetails">
								<img src="assets/images/awcimages/cmdt.jpeg" alt="image">
								</a>
							</div>
							<div class="item-info">
								<h3><a href="/newsdetails">Students were on a trip Istanbul, Turkey</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Consectetuer adipiscing elit, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. consectetuer adipiscing elit.</p>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Consectetuer adipiscing elit, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. consectetuer adipiscing elit.</p>

								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Consectetuer adipiscing elit, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. consectetuer adipiscing elit.</p>

								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Consectetuer adipiscing elit, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. consectetuer adipiscing elit.</p>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Consectetuer adipiscing elit, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. consectetuer adipiscing elit.</p>

								<a href="/newsdetails">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-md-3">
						<div class="news-item">
							<div class="item-meta-data">
								<div class="col-md-8">
								<a href="#"><img src="assets/images/favicon.ico" class="college-logo" alt="image"></a>
									<a href="#"><span> Army War College</span></a>
								</div>
								<div class="col-md-4">
									<span>Aug 15</span>
								</div>
							</div>
							<div class="item-image">
								<a href="/newsdetails">
								<img src="assets/images/awcimages/images12.jpg" alt="image">
								</a>
							</div>
							<div class="item-info">
								<h3><a href="/newsdetails">Apply for Community Scholarships</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
								<a href="/newsdetails">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-md-3">
						<div class="news-item">
							<div class="item-meta-data">
								<div class="col-md-8">
								<a href="#"><img src="assets/images/favicon.ico" class="college-logo" alt="image"></a>
									<a href="#"><span> Army War College</span></a>
								</div>
								<div class="col-md-4">
									<span>Aug 15</span>
								</div>
							</div>
							<div class="item-image">
								<a href="/newsdetails">
								<img src="assets/images/awcimages/images3.jpg" alt="image">
								</a>
							</div>
							<div class="item-info">
								<h3><a href="/newsdetails">Jobs, Career Presentation to Coincide with Conferences</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
								<a href="/newsdetails">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-md-3">
						<div class="news-item">
							<div class="item-meta-data">
								<div class="col-md-8">
								<a href="#"><img src="assets/images/favicon.ico" class="college-logo" alt="image"></a>
									<a href="#"><span> Army War College</span></a>
								</div>
								<div class="col-md-4">
									<span>Aug 15</span>
								</div>
							</div>
							<div class="item-image">
								<a href="/newsdetails">
								<img src="assets/images/awcimages/images11.jpg" alt="image">
								</a>
							</div>
							<div class="item-info">
								<h3><a href="/newsdetails">Students were on a trip Istanbul, Turkey</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
								<a href="/newsdetails">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-md-3">
						<div class="news-item">
							<div class="item-meta-data">
								<div class="col-md-8">
								<a href="#"><img src="assets/images/favicon.ico" class="college-logo" alt="image"></a>
									<a href="#"><span> Army War College</span></a>
								</div>
								<div class="col-md-4">
									<span>Aug 15</span>
								</div>
							</div>
							<div class="item-image">
								<a href="/newsdetails">
								<img src="assets/images/awcimages/images8.jpg" alt="image">
								</a>
							</div>
							<div class="item-info">
								<h3><a href="/newsdetails">Jobs, Career Presentation to Coincide with Conferences</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
								<a href="/newsdetails">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-md-3">
						<div class="news-item">
							<div class="item-meta-data">
								<div class="col-md-8">
								<a href="#"><img src="assets/images/favicon.ico" class="college-logo" alt="image"></a>
									<a href="#"><span> Army War College</span></a>
								</div>
								<div class="col-md-4">
									<span>Aug 15</span>
								</div>
							</div>
							<div class="item-image">
								<a href="/newsdetails">
								<img src="assets/images/awcimages/images13.jpg" alt="image">
								</a>
							</div>
							<div class="item-info">
								<h3><a href="/newsdetails">Apply for Community Scholarships</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
								<a href="/newsdetails">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-md-3">
						<div class="news-item">
							<div class="item-meta-data">
								<div class="col-md-8">
								<a href="#"><img src="assets/images/favicon.ico" class="college-logo" alt="image"></a>
									<a href="#"><span> Army War College</span></a>
								</div>
								<div class="col-md-4">
									<span>Aug 15</span>
								</div>
							</div>
							<div class="item-image">
								<a href="/newsdetails">
								<img src="assets/images/awcimages/images15.jpg" alt="image">
								</a>
							</div>
							<div class="item-info">
								<h3><a href="/newsdetails">Jobs, Career Presentation to Coincide with Conferences</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
								<a href="/newsdetails">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-md-3">
						<div class="news-item">
							<div class="item-meta-data">
								<div class="col-md-8">
								<a href="#"><img src="assets/images/favicon.ico" class="college-logo" alt="image"></a>
									<a href="#"><span> Army War College</span></a>
								</div>
								<div class="col-md-4">
									<span>Aug 15</span>
								</div>
							</div>
							<div class="item-image">
								<a href="/newsdetails">
								<img src="assets/images/awcimages/images14.jpg" alt="image">
								</a>
							</div>
							<div class="item-info">
								<h3><a href="/newsdetails">Lorem ipsum dolor sit amet, consectetuer adipiscing</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
								<a href="/newsdetails">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-md-3">
						<div class="news-item">
							<div class="item-meta-data">
								<div class="col-md-8">
								<a href="#"><img src="assets/images/favicon.ico" class="college-logo" alt="image"></a>
									<a href="#"><span> Army War College</span></a>
								</div>
								<div class="col-md-4">
									<span>Aug 15</span>
								</div>
							</div>
							<div class="item-image">
								<a href="/newsdetails">
								<img src="assets/images/awcimages/images6.jpg" alt="image">
								</a>
							</div>
							<div class="item-info">
								<h3><a href="/newsdetails">Lorem ipsum dolor sit amet, consectetuer</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
								<a href="/newsdetails">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-md-3">
						<div class="news-item">
							<div class="item-meta-data">
								<div class="col-md-8">
								<a href="#"><img src="assets/images/favicon.ico" class="college-logo" alt="image"></a>
									<a href="#"><span> Army War College</span></a>
								</div>
								<div class="col-md-4">
									<span>Aug 15</span>
								</div>
							</div>
							<div class="item-image">
								<a href="/newsdetails">
								<img src="assets/images/awcimages/images10.jpg" alt="image">
								</a>
							</div>
							<div class="item-info">
								<h3><a href="/newsdetails">Lorem ipsum dolor sit amet, consectetuer adipiscing</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
								<a href="/newsdetails">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-md-3">
						<div class="news-item">
							<div class="item-meta-data">
								<div class="col-md-8">
								<a href="#"><img src="assets/images/favicon.ico" class="college-logo" alt="image"></a>
									<a href="#"><span> Army War College</span></a>
								</div>
								<div class="col-md-4">
									<span>Aug 15</span>
								</div>
							</div>
							<div class="item-image">
								<a href="/newsdetails">
								<img src="assets/images/awcimages/images2.jpg" alt="image">
								</a>
							</div>
							<div class="item-info">
								<h3><a href="/newsdetails">Lorem ipsum dolor sit amet, consectetuer</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
								<a href="/newsdetails">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="news-pagination">
					<ul>
						<li class="prev"><a href="#">Prev</a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li class="active"><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">...</a></li>
						<li><a href="#">12</a></li>
						<li class="next"><a href="#">Next</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

