@inherits LayoutComponentBase

<div class="page">
	<!-- Government Accessibility Top Bar -->
	<div class="gov-top-bar">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">

							<div class="top-options-wrapper">
			<!-- LEFT SIDE -->
			<div class="top-options-left">
				<a href="/sitemap" class="top-link">Sitemap</a>
				<span class="separator">|</span>
				<a href="/faqs" class="top-link">FAQs</a>
				<span class="separator">|</span>
				<a href="#main-content" class="skip-link top-link">Skip to Main Content</a>
			</div>

			<!-- RIGHT SIDE (keep your existing items here) -->
			<div class="top-options-right">
							<div class="dropdown-container">
								<button class="dropdown-btn" onclick="toggleDropdown('languageDropdown')">
									<i class="fa fa-globe"></i> Language <i class="fa fa-chevron-down"></i>
								</button>
								<div class="dropdown-content" id="languageDropdown">
									<a href="#" onclick="setLanguage('en')" class="lang-option active">English</a>
									<a href="#" onclick="setLanguage('hi')" class="lang-option">हिंदी</a>
								</div>
							</div>

							<span class="separator">|</span>

							<!-- Theme Dropdown -->
							<div class="dropdown-container">
								<button class="dropdown-btn" onclick="toggleDropdown('themeDropdown')">
									<i class="fa fa-paint-brush"></i> Theme <i class="fa fa-chevron-down"></i>
								</button>
								<div class="dropdown-content" id="themeDropdown">
									<a href="#" onclick="setTheme('light')" class="theme-option">
										<span class="theme-preview light-preview"></span> Light
									</a>
									<a href="#" onclick="setTheme('blue')" class="theme-option">
										<span class="theme-preview blue-preview"></span> Blue
									</a>
									<a href="#" onclick="setTheme('dark')" class="theme-option">
										<span class="theme-preview dark-preview"></span> Dark
									</a>
								</div>
							</div>

							<span class="separator">|</span>

							<!-- Accessibility Dropdown -->
							<div class="dropdown-container">
								<button class="dropdown-btn" onclick="toggleDropdown('accessibilityDropdown')">
									<i class="fa fa-universal-access"></i> Accessibility <i class="fa fa-chevron-down"></i>
								</button>
								<div class="dropdown-content" id="accessibilityDropdown">
									<div class="font-controls">
										<span class="dropdown-label">Font Size:</span>
										<div class="font-control-group">
											<a href="#" onclick="decreaseFontSize()" class="font-control" title="Decrease Font Size">A-</a>
											<a href="#" onclick="resetFontSize()" class="font-control active" title="Normal Font Size">A</a>
											<a href="#" onclick="increaseFontSize()" class="font-control" title="Increase Font Size">A+</a>
										</div>
									</div>
									<a href="#" class="accessibility-option">
										<i class="fa fa-volume-up"></i> Screen Reader Access
									</a>
									<a href="#" class="accessibility-option">
										<i class="fa fa-eye"></i> High Contrast
									</a>
								</div>
							</div>

							<!-- Search Box -->
							<div class="search-container">
								<input type="text" class="search-input" placeholder="Search..." />
								<button class="search-button" title="Search">
									<i class="fa fa-search"></i>
								</button>
							</div>

							<!-- Login Button -->
							<a href="/auth/login" class="login-button">
								<i class="fa fa-lock"></i> <span>Login</span>
							</a>				<!-- No change required here -->
			</div>
		</div>



				</div>
			</div>
		</div>
	</div>

	<header class="position-relative header-banner">
		<img src="assets/images/header-banner.png" alt="Header Image" class="img-fluid w-100">
	</header>

	<nav class="site-header">
		<div class="container-fluid px-0">
			<div class="row align-items-center">
				<div class="col-sm-12">
					<nav id="site-navigation" class="navbar text-left">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle offcanvas-toggle" data-toggle="offcanvas" data-target="#js-bootstrap-offcanvas">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>

						<div class="navbar-offcanvas navbar-offcanvas-touch navbar-offcanvas-right" id="js-bootstrap-offcanvas">
							<ul class="nav navbar-nav mainmenu">
								<li>
									<a href="/">
										<i class="fa fa-home" style="color: #4CAF50;"></i>
										<span></span>
									</a>
								</li>

								<li class="dropdown">
									<a href="#"> <i class="fa fa-info-circle"></i>  ABOUT US</a>
									<ul class="dropdown-menu">
										<li><a href="/about-college"><i class="fa fa-sitemap"></i> About</a></li>
@* 										<li><a href="/origin"><i class="fa fa-history"></i> Origin</a></li>
 *@			
					                    <li><a href="/mhow-awc"><i class="fa fa-map-marker"></i> Mhow Town</a></li>
										<li><a href="/origin"><i class="fa fa-history"></i> Mhow Cantoment</a></li>
@* 										<li><a href="/role-vision"><i class="fa fa-book"></i> History</a></li>
 *@										<li><a href="/armywarcollege/campus"><i class="fa fa-university"></i> Our Campus</a></li>
@* 										<li><a href="/underconstruction"><i class="fa fa-clock-o"></i> Over the Years</a></li>
 *@									</ul>
								</li>

@* 								<li class="dropdown">
									<a href="#"><i class="fa fa-users"></i> TEAM</a>
									<ul class="dropdown-menu">
										<li><a href="/hcwing"><i class="fa fa-user"></i> HC Wing</a></li>
										<li><a href="/scwing"><i class="fa fa-user"></i> SC Wing</a></li>
										<li><a href="/jcwing"><i class="fa fa-user"></i> JC Wing</a></li>
										<li><a href="/underconstruction"><i class="fa fa-briefcase"></i> FOS & L</a></li>

										<li class="dropdown-submenu">
											<a href="#"><i class="fa fa-cogs"></i> GS Branch</a>
											<ul class="dropdown-menu">
												<li><a href="/gsbranchroleandvision"><i class="fa fa-eye"></i> Role & Vision</a></li>
												<li><a href="/deptofadm"><i class="fa fa-building"></i> Dept of Administration</a></li>
											</ul>
										</li>

										<li class="dropdown-submenu">
											<a href="#"><i class="fa fa-home"></i> DoA</a>
											<ul class="dropdown-menu">
												<li><a href="/student-officer-accomodation"><i class="fa fa-bed"></i> Accommodation</a></li>
											</ul>
										</li>
									</ul>
								</li>
 *@
								<li class="dropdown">
									<a href="#"><i class="fa fa-book"></i> COURSES</a>
									<ul class="dropdown-menu">
										<li class="dropdown-submenu">
											<a href="#"><i class="fa fa-graduation-cap"></i> Higher Command</a>
											<ul class="dropdown-menu">
												<li><a href="/hcoutcome"><i class="fa fa-check-circle"></i> Outcome</a></li>
												<li><a href="/hceligibility"><i class="fa fa-filter"></i> Eligibility</a></li>
												<li><a href="/hcseminars"><i class="fa fa-comments"></i> Seminars</a></li>
											</ul>
										</li>

										<li class="dropdown-submenu">
											<a href="#"><i class="fa fa-graduation-cap"></i> Senior Commands</a>
											<ul class="dropdown-menu">
												<li><a href="/hcoutcome"><i class="fa fa-check-circle"></i> Outcome</a></li>
												<li><a href="/hceligibility"><i class="fa fa-filter"></i> Eligibility</a></li>
												<li><a href="/hcseminars"><i class="fa fa-comments"></i> Seminars</a></li>
												<li><a href="/course-curriculam"><i class="fa fa-file-text"></i> Curriculum</a></li>
											</ul>
										</li>

										<li class="dropdown-submenu">
											<a href="#"><i class="fa fa-graduation-cap"></i> Junior Commands</a>
											<ul class="dropdown-menu">
												<li><a href="/hcoutcome"><i class="fa fa-check-circle"></i> Outcome</a></li>
												<li><a href="/hceligibility"><i class="fa fa-filter"></i> Eligibility</a></li>
												<li><a href="/hcseminars"><i class="fa fa-comments"></i> Seminars</a></li>
												<li><a href="/course-curriculam"><i class="fa fa-file-text"></i> Curriculum</a></li>
											</ul>
										</li>

										<li class="dropdown-submenu">
											<a href="#"><i class="fa fa-graduation-cap"></i> IW</a>
											<ul class="dropdown-menu">
												<li><a href="/hcoutcome"><i class="fa fa-check-circle"></i> Outcome</a></li>
												<li><a href="/hceligibility"><i class="fa fa-filter"></i> Eligibility</a></li>
												<li><a href="/hcseminars"><i class="fa fa-comments"></i> Seminars</a></li>
												<li><a href="/course-curriculam"><i class="fa fa-file-text"></i> Curriculum</a></li>
												<li><a href="/iwcalendar"><i class="fa fa-calendar"></i> Calendar</a></li>
											</ul>
										</li>

										<li><a href="/underconstruction"><i class="fa fa-bookmark"></i> HDOC</a></li>
										<li><a href="/underconstruction"><i class="fa fa-bookmark"></i> JOCAP</a></li>
										<li><a href="/underconstruction"><i class="fa fa-bookmark"></i> SFCC</a></li>
									</ul>
								</li>


								<li class="dropdown">
									<a href="#">@* <i class="fa fa-info-circle"></i> *@  <i class="fa fa-info-circle"></i> Faculty Of Studies</a>
									<ul class="dropdown-menu">
										<li><a href="/about-college"><i class="fa fa-sitemap"></i> Role & Vision</a></li>		
					                    <li><a href="/mhow-awc"><i class="fa fa-map-marker"></i> Pattern</a></li>
										<li><a href="/origin"><i class="fa fa-history"></i> Calander of the week</a></li>
										<li><a href="/armywarcollege/campus"><i class="fa fa-university"></i> Research Work</a></li>

										<li class="dropdown-submenu">
											<a href="events.html"><i class="fa fa-external-link"></i> External Links</a>
											<ul class="dropdown-menu">
												<li><a href="https://igotkarmayogi.gov.in/#/" target="_blank"><i class="fa fa-university"></i> iGot Karmayogi</a></li>
												<li><a href="https://indianarmy.nic.in/" target="_blank"><i class="fa fa-shield"></i> Indian Army</a></li>
												<li><a href="https://ids.nic.in/" target="_blank"><i class="fa fa-sitemap"></i> IDS</a></li>
												<li><a href="https://www.joinindiannavy.gov.in/" target="_blank"><i class="fa fa-ship"></i> Navy</a></li>
												<li><a href="https://www.drdo.gov.in/drdo/" target="_blank"><i class="fa fa-cogs"></i> DRDO</a></li>
											</ul>
										</li>

										<li><a href="/armywarcollege/campus"><i class="fa fa-university"></i> Combat Library</a></li>

								</ul>
								</li>

								<li><a href="/contact-us"><i class="fa fa-envelope"></i> Freind For Life</a></li>



@* 								<li class="dropdown">
									<a href="#"><i class="fa fa-flask"></i> RESEARCH</a>
									<ul class="dropdown-menu">
										<li><a href="/origin"><i class="fa fa-eye"></i> Role & Vision</a></li>
										<li><a href="/underconstruction"><i class="fa fa-rocket"></i> FOS</a></li>

										<li class="dropdown-submenu">
											<a href="events.html"><i class="fa fa-external-link"></i> External Links</a>
											<ul class="dropdown-menu">
												<li><a href="https://igotkarmayogi.gov.in/#/" target="_blank"><i class="fa fa-university"></i> iGot Karmayogi</a></li>
												<li><a href="https://indianarmy.nic.in/" target="_blank"><i class="fa fa-shield"></i> Indian Army</a></li>
												<li><a href="https://ids.nic.in/" target="_blank"><i class="fa fa-sitemap"></i> IDS</a></li>
												<li><a href="https://www.joinindiannavy.gov.in/" target="_blank"><i class="fa fa-ship"></i> Navy</a></li>
												<li><a href="https://www.drdo.gov.in/drdo/" target="_blank"><i class="fa fa-cogs"></i> DRDO</a></li>
											</ul>
										</li>

										<li class="dropdown-submenu">
											<a href="events.html"><i class="fa fa-rss"></i> Follow Us On</a>
											<ul class="dropdown-menu">
												<li><a href="#"><i class="fa fa-youtube-play"></i> YouTube</a></li>
												<li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
												<li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
												<li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
											</ul>
										</li>
									</ul>
								</li>
 *@
								<li class="dropdown">
									<a href="#"><i class="fa fa-cube"></i> AMENITIES</a>
									<ul class="dropdown-menu">
										<li><a href="/swimming"><i class="fa fa-tint"></i> Swimming Pool</a></li>
										<li><a href="/medicals"><i class="fa fa-medkit"></i> Medicals Facilities</a></li>

								  <li class="dropdown-submenu">
											<a href="#"><i class="fa fa-graduation-cap"></i> Kalyani</a>
											<ul class="dropdown-menu">
												<li><a href="/hcoutcome"><i class="fa fa-check-circle"></i> Sugrehini Shop</a></li>
												<li><a href="/hceligibility"><i class="fa fa-filter"></i> Shopping Complex</a></li>
												<li><a href="/hcseminars"><i class="fa fa-comments"></i> Restaurant</a></li>
											</ul>
										</li>


										<li><a href="/medicals"><i class="fa fa-medkit"></i> School</a></li>



@* 										<li><a href="/awc-mepta"><i class="fa fa-building-o"></i> MEPTA</a></li>
										<li><a href="/awc-hub"><i class="fa fa-plug"></i> HUB</a></li>
										<li><a href="/underconstruction"><i class="fa fa-cubes"></i> BWTA</a></li>
										<li><a href="/studentofficermess"><i class="fa fa-cutlery"></i> Mess</a></li>
										<li><a href="/combatmess"><i class="fa fa-trophy"></i> Combat Mess</a></li>
										<li><a href="/sports-complex"><i class="fa fa-futbol-o"></i> Sports Complex</a></li>
										<li><a href="/underconstruction"><i class="fa fa-archive"></i> URC</a></li>
										<li><a href="/kalyanishop"><i class="fa fa-shopping-cart"></i> Kalyani Shop</a></li> *@
									</ul>
								</li>

								<li><a href="/contact-us"><i class="fa fa-envelope"></i> CONTACT US</a></li>



								<li class="dropdown">
									<a href="#">@* <i class="fa fa-info-circle"></i> *@ <i class="fa fa-info-circle"></i> Gallery</a>
									<ul class="dropdown-menu">
										<li><a href="/galleries"><i class="fa fa-sitemap"></i> Year Wise</a></li>
										<li><a href="/galleries"><i class="fa fa-sitemap"></i> Activity Wise</a></li>
									</ul>
								</li>


@* 								<li><a href="/galleries"><i class="fa fa-picture-o"></i> Gallery</a></li>
 *@
								<li><a href="/news"><i class="fa fa-globe"></i> VIRTUAL TOUR</a></li>


								<li><a href="/awc/tender-notices"><i class="fa fa-globe"></i> Tender And Notices</a></li>


@* 								<li class="login-item">
									<a href="/auth/login">
										<i class="fa fa-lock"></i> &nbsp; <span>Login</span>
									</a>
								</li>
 *@							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</nav>

	<main id="main-content">
		<article class="content px-4">
			@Body
		</article>
	</main>

	<footer id="colophon" class="site-footer">
		<div class="footer-info">
			<div class="container">
				<div class="row">
					<div class="footer-logo col-md-3">
						<a href="#" title="Army War College" rel="home" class="branding-link" style="margin-left:-36px;">
							<img src="assets/images/favicon.ico" alt="Army War College Logo" class="college-logo">
						</a>
					</div>

					<div class="footer-menu col-md-9">
						<div class="footer-links">
							<ul>
								<li><a href="#"><i class="fa fa-info-circle"></i> About</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> Contact Us</a></li>
								<li><a href="#"><i class="fa fa-map-marker"></i> Location</a></li>
							</ul>
						</div>
						<div class="footer-links">
							<ul>
								<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
								<li><a href="#"><i class="fa fa-users"></i> Students</a></li>
								<li><a href="#"><i class="fa fa-user"></i> Teachers</a></li>
							</ul>
						</div>
						<div class="footer-links">
							<ul>
								<li><a href="#"><i class="fa fa-pencil"></i> Blog</a></li>
								<li><a href="#"><i class="fa fa-newspaper-o"></i> Latest News</a></li>
								<li><a href="#"><i class="fa fa-book"></i> Resources</a></li>
							</ul>
						</div>
						<div class="footer-links">
							<ul>
								<li><a href="#"><i class="fa fa-graduation-cap"></i> Academic</a></li>
								<li><a href="#"><i class="fa fa-calendar"></i> Calendar</a></li>
								<li><a href="#"><i class="fa fa-bullhorn"></i> Events</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-extra-info text-center py-3" style="background: #990000;">
			<p style="margin: 0; font-size: 16px; color: #ffffff;">
				🕒 <span id="currentDateTime"></span> &nbsp;|&nbsp; 👥 Visitors: <span id="visitorCount">1,23,456</span>
			</p>
		</div>
	</footer>

	<style>
		/* Government Top Bar Styles - Updated */
		.gov-top-bar {
			background-color: #990000;
			padding: 8px 0;
			font-size: 12px;
			position: relative;
			z-index: 1000;
		}

		.login-button {
			display: inline-block;
			background-color: #ffffff;
			color: #123456;
			padding: 6px 18px; /* slightly smaller padding */
			margin-left: 10px;
			border-radius: 18px; /* slightly smaller curve */
			font-weight: 600;
			font-size: 14px; /* slightly smaller text */
			text-decoration: none;
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); /* subtle shadow */
			transition: background-color 0.3s ease, color 0.3s ease;
		}

			.login-button:hover {
				background-color: #123456;
				color: #ffffff;
				text-decoration: none;
			}

			.login-button i {
				margin-right: 6px;
				font-size: 14px; /* slightly smaller icon */
			}



		.search-container {
			display: inline-flex;
			align-items: center;
			border: 1px solid #ccc;
			border-radius: 20px;
			overflow: hidden;
			background-color: #fff;
			margin-left: 10px;
		}

		.search-input {
			border: none;
			padding: 5px 10px;
			outline: none;
			width: 150px;
			font-size: 14px;
		}

		.search-button {
			background-color: transparent;
			border: none;
			padding: 5px 10px;
			color: #123456;
			cursor: pointer;
			transition: background-color 0.2s ease;
		}

			.search-button:hover {
				background-color: #eee;
			}

		.top-options-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
		}

		.top-options-left,
		.top-options-right {
			display: flex;
			align-items: center;
			gap: 5px;
		}



		.top-options {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: 5px;
		}

		.top-link {
			color: #ffffff;
			text-decoration: none;
			padding: 4px 8px;
			border-radius: 3px;
			transition: all 0.3s ease;
			font-size: 12px;
		}

			.top-link:hover {
				color: #ffcccc;
				text-decoration: none;
				background-color: rgba(255, 255, 255, 0.1);
			}

		.separator {
			color: #ffffff;
			margin: 0 5px;
		}

		/* Dropdown Containers */
		.dropdown-container {
			position: relative;
			display: inline-block;
		}

		.dropdown-btn {
			background: none;
			border: none;
			color: #ffffff;
			padding: 4px 8px;
			cursor: pointer;
			border-radius: 3px;
			transition: all 0.3s ease;
			font-size: 12px;
		}

			.dropdown-btn:hover {
				background-color: rgba(255, 255, 255, 0.1);
				color: #ffcccc;
			}

		.dropdown-content {
			display: none;
			position: absolute;
			background-color: #ffffff;
			min-width: 180px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 1001;
			border-radius: 4px;
			right: 0;
			top: 100%;
			margin-top: 2px;
		}

			.dropdown-content.show {
				display: block;
			}

			.dropdown-content a {
				color: #333;
				padding: 8px 12px;
				text-decoration: none;
				display: block;
				font-size: 12px;
				transition: background-color 0.3s ease;
			}

				.dropdown-content a:hover {
					background-color: #f1f1f1;
				}

		/* Language Options */
		.lang-option.active {
			background-color: #990000;
			color: #ffffff;
		}

		/* Theme Options */
		.theme-option {
			display: flex;
			align-items: center;
			gap: 8px;
		}

		.theme-preview {
			width: 16px;
			height: 16px;
			border-radius: 2px;
			border: 1px solid #ddd;
		}

		.light-preview {
			background-color: #ffffff;
		}

		.blue-preview {
			background-color: #007bff;
		}

		.dark-preview {
			background-color: #343a40;
		}

		/* Accessibility Options */
		.font-controls {
			padding: 8px 12px;
			border-bottom: 1px solid #eee;
		}

		.dropdown-label {
			font-size: 11px;
			color: #666;
			display: block;
			margin-bottom: 5px;
		}

		.font-control-group {
			display: flex;
			gap: 2px;
		}

		.font-control {
			display: inline-block;
			width: 20px;
			height: 20px;
			text-align: center;
			line-height: 18px;
			border: 1px solid #dee2e6;
			color: #495057;
			text-decoration: none;
			font-weight: bold;
			border-radius: 3px;
			transition: all 0.3s ease;
			font-size: 10px;
		}

			.font-control:hover, .font-control.active {
				background-color: #990000;
				color: white;
				border-color: #990000;
				text-decoration: none;
			}

		.accessibility-option {
			display: flex;
			align-items: center;
			gap: 8px;
		}


		.gov-top-bar .container-fluid,
		.gov-top-bar .row,
		.gov-top-bar .col-md-12 {
			padding-left: 0 !important;
			padding-right: 0 !important;
			margin-left: 0 !important;
			margin-right: 0 !important;
		}



		/* Skip link styles */
		.skip-link:focus {
			background: rgba(255, 255, 255, 0.2);
			color: #ffffff;
			text-decoration: none;
		}

		/* Blue theme styles */
		.blue-theme {
			background-color: #f0f8ff;
		}

			.blue-theme .site-header {
				background-color: #0056b3;
			}

			.blue-theme .navbar-nav li a {
				color: #ffffff !important;
			}

			.blue-theme .dropdown-menu {
				background-color: #e3f2fd;
				border-color: #0056b3;
			}

				.blue-theme .dropdown-menu li a {
					color: #0056b3;
				}

					.blue-theme .dropdown-menu li a:hover {
						background-color: #bbdefb;
					}

		/* Dark theme styles */
		.dark-theme {
			background-color: #2c2c2c;
			color: #ffffff;
		}

			.dark-theme .site-header {
				background-color: #1a1a1a;
			}

			.dark-theme .navbar-nav li a {
				color: #ffffff !important;
			}

			.dark-theme .dropdown-menu {
				background-color: #3c3c3c;
				border-color: #555;
			}

				.dark-theme .dropdown-menu li a {
					color: #ffffff;
				}

					.dark-theme .dropdown-menu li a:hover {
						background-color: #555;
					}

		/* Font size adjustment classes */
		.font-small {
			font-size: 0.85em;
		}

		.font-normal {
			font-size: 1em;
		}

		.font-large {
			font-size: 1.15em;
		}

		.font-xlarge {
			font-size: 1.3em;
		}

		/* Footer styles (existing) */
		.footer-menu {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			gap: 20px;
		}

		.footer-links {
			flex: 1 1 18%;
			min-width: 150px;
		}

			.footer-links ul {
				list-style: none;
				padding: 0;
				margin: 0;
			}

				.footer-links ul li {
					margin-bottom: 6px;
				}

					.footer-links ul li a {
						color: #fff;
						text-decoration: none;
						font-size: 14px;
					}

				.footer-links ul.social {
					display: flex;
					gap: 10px;
				}

					.footer-links ul.social li {
						margin: 0;
					}

						.footer-links ul.social li a i {
							font-size: 18px;
							color: #fff;
							transition: color 0.3s ease;
						}

						.footer-links ul.social li a:hover i {
							color: #ccc;
						}
	</style>

	<script>
		// Dropdown toggle function
		function toggleDropdown(dropdownId) {
			// Close all other dropdowns
			document.querySelectorAll('.dropdown-content').forEach(function(dropdown) {
				if (dropdown.id !== dropdownId) {
					dropdown.classList.remove('show');
				}
			});

			// Toggle current dropdown
			const dropdown = document.getElementById(dropdownId);
			dropdown.classList.toggle('show');
		}

		// Close dropdowns when clicking outside
		window.onclick = function(event) {
			if (!event.target.matches('.dropdown-btn') && !event.target.closest('.dropdown-btn')) {
				document.querySelectorAll('.dropdown-content').forEach(function(dropdown) {
					dropdown.classList.remove('show');
				});
			}
		}

		// Font size adjustment functions
		let currentFontSize = 1;

		function increaseFontSize() {
			if (currentFontSize < 1.3) {
				currentFontSize += 0.15;
				document.body.style.fontSize = currentFontSize + 'em';
				localStorage.setItem('fontSize', currentFontSize);
				updateFontControls();
			}
		}

		function decreaseFontSize() {
			if (currentFontSize > 0.85) {
				currentFontSize -= 0.15;
				document.body.style.fontSize = currentFontSize + 'em';
				localStorage.setItem('fontSize', currentFontSize);
				updateFontControls();
			}
		}

		function resetFontSize() {
			currentFontSize = 1;
			document.body.style.fontSize = '1em';
			localStorage.setItem('fontSize', currentFontSize);
			updateFontControls();
		}

		function updateFontControls() {
			document.querySelectorAll('.font-control').forEach(btn => btn.classList.remove('active'));

			if (currentFontSize <= 0.85) {
				document.querySelector('.font-control[onclick="decreaseFontSize()"]').classList.add('active');
			} else if (currentFontSize >= 1.3) {
				document.querySelector('.font-control[onclick="increaseFontSize()"]').classList.add('active');
			} else {
				document.querySelector('.font-control[onclick="resetFontSize()"]').classList.add('active');
			}
		}

		// Theme switching functions
		function setTheme(theme) {
			// Remove active class from all theme options
			document.querySelectorAll('.theme-option').forEach(opt => opt.classList.remove('active'));

			if (theme === 'dark') {
				document.body.classList.add('dark-theme');
				document.body.classList.remove('blue-theme');
				localStorage.setItem('theme', 'dark');
			} else if (theme === 'blue') {
				document.body.classList.add('blue-theme');
				document.body.classList.remove('dark-theme');
				localStorage.setItem('theme', 'blue');
			} else {
				document.body.classList.remove('dark-theme', 'blue-theme');
				localStorage.setItem('theme', 'light');
			}

			// Close dropdown after selection
			document.getElementById('themeDropdown').classList.remove('show');
		}

		// Language switching function
		function setLanguage(lang) {
			// Remove active class from all language options
			document.querySelectorAll('.lang-option').forEach(opt => opt.classList.remove('active'));

			if (lang === 'hi') {
				document.querySelector('.lang-option[onclick="setLanguage(\'hi\')"]').classList.add('active');
			} else {
				document.querySelector('.lang-option[onclick="setLanguage(\'en\')"]').classList.add('active');
			}

			localStorage.setItem('language', lang);
			console.log('Language changed to:', lang);

			// Close dropdown after selection
			document.getElementById('languageDropdown').classList.remove('show');
		}

		// Skip to main content function
		document.addEventListener('DOMContentLoaded', function() {
			const skipLinks = document.querySelectorAll('.skip-link');
			skipLinks.forEach(function(link) {
				link.addEventListener('click', function(e) {
					e.preventDefault();
					const target = document.querySelector('#main-content');
					if (target) {
						target.scrollIntoView({ behavior: 'smooth' });
						target.focus();
					}
				});
			});

			// Load saved preferences
			const savedFontSize = localStorage.getItem('fontSize');
			if (savedFontSize) {
				currentFontSize = parseFloat(savedFontSize);
				document.body.style.fontSize = currentFontSize + 'em';
			}
			updateFontControls();

			const savedTheme = localStorage.getItem('theme');
			if (savedTheme === 'dark') {
				document.body.classList.add('dark-theme');
				document.querySelector('.dark-theme-btn').classList.add('active');
			} else if (savedTheme === 'blue') {
				document.body.classList.add('blue-theme');
				document.querySelector('.blue-theme-btn').classList.add('active');
			} else {
				document.querySelector('.light-theme-btn').classList.add('active');
			}

			const savedLanguage = localStorage.getItem('language');
			if (savedLanguage === 'hi') {
				document.querySelector('.lang-btn[onclick="setLanguage(\'hi\')"]').classList.add('active');
				document.querySelector('.lang-btn[onclick="setLanguage(\'en\')"]').classList.remove('active');
			}
		});

	</script>
</div>